@model Member


<table class="table">

        <tr>
            <td>
                @(Model.memberId)
            </td>
            <td>
                @(Model.name)
            </td>
            <td>
                @(Model.party)
            </td>
            <td>
                @(Model.partyColour)
            </td>
            <td>
                @(Model.house)
            </td>
            <td>
                @(Model.memberPhoto)
            </td>
            <td>
                @(Model.memberPage)
            </td>
            <td>
                @(Model.memberFrom)
            </td>
        </tr>
</table>
