@using Bills.Models.OrderPaper
@model BusinessItems
@{

}
@* @foreach(var dayI in Model.DayItems)
{
    @dayI.DayItemType<br />
    @dayI.DayItemId<br />
    @dayI.TabledOrder<br />
    @dayI.Title<br />
    @dayI.Notes<br />
    @dayI.BusinessItemDetail.ItemText<br />
} *@
@foreach(var item in Model.Days)
{
    @item.Date <br />
     <br />
    @foreach(var sec in item.Sections)
    {

        @foreach(var dayItems in sec.DayItems)
        {

                <span class="blunk">@Html.Partial("BusinessItemDetail", dayItems.BusinessItemDetail) - 
                @Html.Raw(dayItems.Notes) -
                @Html.Raw(dayItems.Title) </span>


        }
    }
}

<style>
    .blunk { padding: 10px; display: block; width: 100%; border: 1px blue solid; }
</style>