@using Lawmaker.Models
@model BillAmendments
@{
    var something = "UK000633";
}
<p>The results are below? </p>
<p>@ViewBag.Results<p>

<table>
    <tr>
        <th>Num</th>
        <th>affectedDocument</th>
        <th>stage</th>
        <th>version</th>
        <th>type</th>
        <th>links</th>
    </tr>


@foreach(Lawmaker.Models.Amendment amendment in Model.result)
{
    <tr>
        <td>@amendment.amendmentNum</td>
        <td>@amendment.affectedDocument</td>
        <td>@amendment.stage</td>
        <td>@amendment.version</td>
        <td>@amendment.type</td>
        <td>
            @foreach(var link in amendment._links)
            {
                <p title="@link.manifestation" data="@link.method">@link.href</p>
            }
        </td>
    </tr>
}

</table>

<style>
    table { border: 1px solid black;}
    tr {border-bottom: 1px; border-width: 1px;}
</style>