@using Lawmaker.Models
@model BillAmendments
@{
    var something = "UK000633";
}
<p>The results are below? </p>
<p>@ViewBag.Results<p>

<table>
    <tr>
        <th>Num</th>
        <th>affectedDocument</th>
        <th>stage</th>
        <th>version</th>
        <th>type</th>
        <th>links</th>
    </tr>


@foreach(Lawmaker.Models.Amendment amendment in Model.result)
{
    <tr>
        <td title="@(amendment.advGuid)">@amendment.amendmentNum</td>
        <td>@amendment.affectedDocument</td>
        <td>@amendment.stage</td>
        <td>@amendment.version</td>
        <td>@amendment.type</td>
        <td>
            @foreach(var link in amendment._links)
            {
                <p title="@link.manifestation" data="@link.method">@link.href</p>
                @*Url.Action("GetDocument", "Lawmaker", new { path = link.href })*@
                <a asp-controller="Lawmaker" asp-action="GetDocument" asp-route-documentpath="@link.href">GetDocument</a>
                <a asp-controller="Lawmaker" asp-action="GetDocumentAsModel" asp-route-documentpath="@link.href">GetDocumentAsModel</a>
            }
        </td>
    </tr>
}

</table>

<style>
    table { border: 1px solid black;}
    tr {border-bottom: 1px; border-width: 1px;}
</style>