@model List<Lawmaker.Models.Bill>
@{

}

@foreach(Lawmaker.Models.Bill bill in Model)
{
    <p>@bill.title</p>
    <p>@bill.label</p>
    <p>@bill.stage</p>
    <p>@bill.publicationDate</p>
    <p>@bill.house</p>
    <p>@bill.docType</p>

    @foreach(Lawmaker.Models.Link link in bill._links)
    {
        <p><a href="/Lawmaker/GetDocument?documentpath=@(link.href)" title="@link.manifestation" data="@link.method">@link.manifestation</a></p>
    }

    @*foreach(var something in bill.)*@
}

